body {
  margin: 0;
  
  font-family: cairo, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'cairo';
  src: local('cairo'), url(./assets/fonts/Cairo-Regular.ttf) format('truetype');
  font-display: swap;

}
code {
  font-family: cairo, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
