//Theam colors
$mainColor:#427ab5;
$sconedColor:#e73188;
$headlinesColor: #000000;
$textColor: #858585;
$whiteColor:white;

//Font Families
$headlinesFonts: 'headlinesFont';
$headlinesFontBold:'headlinesFontBold';
$textFonts: 'textFont';

//footer vars
$backgroundFooter: #1b1b1b;

//======= spacing vars =======
$section-space: 100px;